version: '3.8'

services:
  web:
    build: .
    container_name: paper_to_audio_web
    command: python main.py
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    environment:
      - FLASK_DEBUG=1
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build: .
    container_name: paper_to_audio_worker
    command: celery -A celery_worker.celery worker --loglevel=info
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    environment:
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    container_name: paper_to_audio_redis
    ports:
      - "6379:6379"

